name: Main

on: [pull_request, push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: "24.x"
      - name: Install Dependencies
        run: yarn install --frozen-lockfile
      - name: Lint
        run: yarn test:lint
      - name: Build
        run: yarn build
