name: Main

on: [pull_request, push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install Dependencies
        run: yarn install --frozen-lockfile
      - name: Lint
        run: yarn test:lint
      - name: Build
        run: yarn build
